@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap"); /* Acme, sans-serif */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap'") /* "Ubuntu Condensed", sans-serif */;

@keyframes quoteAppear {
  from {opacity: 0;} to {opacity: 1;}
}

@keyframes quoteDisappear {
  from {opacity: 1;} to {opacity: 0;}
}

@keyframes nonQuoteAppear {
  from {opacity: 0;} to {opacity: 1;}
}

@keyframes headerAppear {
  from {
    opacity: 0;
    font-size: 2vh;
  }
  to {
    opacity: 1;
    font-size: 5vh;
  }
}

@keyframes navAppear {
  from {
    opacity: 0;
    margin-left: 100%;
  }
  to {
    opacity: 1;
    margin-left: 0%;
  }
}

@keyframes mainAppear {
  from {
    opacity: 0;
    height: 0vh;
  }
  to {
    opacity: 1;
    height: 80vh;
  }
}

::-webkit-scrollbar{
  display: none;
}

::selection{
  color: red;
  background-color: white;
}

body{
  margin: 0px;
  background-color: black;
  color: white;
  cursor: url("../pictures/cursor.png"), auto;
}

header{
  /* display: flex; */
  display: none;
  border: 2px solid blue;
  align-items: center;
  justify-content: center;
  font-family: Acme, sans-serif;
  font-size: 2vh;

}

header *{
  border: 2px solid red;
  width: 12vw;
  margin: 0px 3vw;
  text-align: center;
}

header div{
  width: auto;
  transition: .9s;
  -webkit-text-stroke: 1px white;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: black;
}
header div:hover{
  transition: .9s;
  color: white;
  transform: scale(1.3, 1);
  -webkit-text-stroke: 1px red;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

nav{
  /* display: flex; */
  display: none;
  /* border: 2px solid green; */
  height: 100vh;
  /* overflow-x: scroll; */
  margin-left: 100%;
  margin-top: 18vh;
  margin-bottom: 10vh;
}

nav img{
  transition: .9s !important;
  filter: grayscale();
  /* transform: skewX(20deg) !important; */
  /* margin: 0px 3vw; */
  border: 1px solid transparent;
  border-radius: 20px;
  width: 40vw !important;
  height: 100vh !important;
}

nav img:hover{
  filter: none;
  cursor: url("../pictures/cursorHover.png"), auto;
}

main{
  /* display: flex; */
  display: none;
  border: 2px solid yellow;
  height: 0vh;
  padding: 20vh 4vw;
  font-family: "Ubuntu Condensed", sans-serif;
}

footer{
  /* display: flex; */
  flex-direction: column;
  display: none;
  border: 2px solid purple;
  height: 35vh;
  padding: 20vh 4vw;
}

#footer__title{
  font-family: Acme, sans-serif;
  font-size: 4vh;
}

.contacts{
  border: 2px solid red;
  font-family: "Ubuntu Condensed", sans-serif;
}

.links img{
  width: 20vw;
  height: 20vh;
}


.quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100vw;
  height: 100vh;

  /* border: 2px solid white; */
  background-color: black;

  animation-name: quoteDisappear;
  animation-delay: 15s;
  animation-fill-mode: forwards;
  animation-duration: 10s;
}

.quote span{
  color: #575656; /* grey */
  text-decoration: underline;
  text-decoration-color: #ff0000; /* red */

}
.quote__text{
  font-family: Acme, sans-serif;
  font-size: 5vh;
  /* border: 2px solid yellow; */
  text-align: center;
  margin-bottom: 2%;
  opacity: 0;

  animation-name: quoteAppear;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

.quote__author{
  color: #ff0000; /* red */
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 4vh;
  text-align: right;
  /* border: 2px solid blue; */
  padding-right: 5%;
  opacity: 0;

  animation-name: quoteAppear;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

.hint{
  display: none;
  background-color: grey;
  width: 50vw;
  height: 50vh;
  border: black 1px solid;
  border-radius: 10vh;
}

.swiper-pagination-bullet{
  background-color: rgba(255, 255, 255, 0.9) !important;
  border: 3px solid red;
}

.swiper-pagination-bullet-active{
  background-color: red !important;
}
