@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap"); /* Acme, sans-serif */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap'") /* "Ubuntu Condensed", sans-serif */;

* {
    scroll-behavior: smooth;
}

@font-face {
  font-family: "YouMurderer";
  src: url("../fonts/Youmurdererbb-pwoK.otf");
}

@font-face {
  font-family: "Black Asylum";
  src: url("../fonts/BlackAsylum-xypj.ttf");
}

@font-face {
  font-family: Bloody;
  src: url(../fonts/Bloody-z0V3.ttf);
}

@keyframes quoteAppear {
  from {opacity: 0;} to {opacity: 1;}
}

@keyframes quoteDisappear {
  from {opacity: 1;} to {opacity: 0;}
}

@keyframes nonQuoteAppear {
  from {opacity: 0;} to {opacity: 1;}
}

@keyframes headerAppear {
  from {
    opacity: 0;
    font-size: 2vh;
  }
  to {
    opacity: 1;
    font-size: 5vh;
  }
}

@keyframes divClanAppear {
  from{
    opacity: 0;
    height: 0vh;
    color: black;
  }
  to{
    opacity: 1;
    height: 12vh;
    color: white;
  }
}
@keyframes navAppear {
  from {
    opacity: 0;
    margin-left: 100%;
  }
  to {
    opacity: 1;
    margin-left: 0%;
  }
}

@keyframes mainAppear {
  from {
    opacity: 0;
    width: 0vw;
  }
  to {
    opacity: 1;
    width: 100vw;
  }
}

@keyframes footerAppear {
  from {
    opacity: 0;
    height: 0vh;
  }
  to {
    opacity: 1;
    height: 40vh;
  }
}

::-webkit-scrollbar{
  display: none;
}

::selection{
  color: red;
  background-color: white;
}

body{
  margin: 0px;
  background-color: black;
  color: white;
  cursor: url("../pictures/cursor.png"), auto;
}

header{
  /* display: flex; */
  display: none;
  /* border: 2px solid blue; */
  align-items: center;
  justify-content: center;
  font-family: Acme, sans-serif;
  font-size: 2vh;

}

header *{
  /* border: 2px solid red; */
  /* width: 14vw; */
  text-align: center;
}

header div.tab{
  width: auto;
  margin: 0px 5vw;
  transition: .9s;
  -webkit-text-stroke: 1px white;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: black;
}
header div.tab:hover{
  transition: .9s;
  color: white;
  transform: scale(1.3, 1);
  -webkit-text-stroke: 1px red;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

header div a{
  overflow-wrap: break-word;
  text-decoration: none;
  color: inherit;
}

header div a:hover{
  cursor: inherit;
}
div.clan__name{
  display: none;
  height: 0vh;
  opacity: 0;
  color: black;
  /* font-family: Acme, sans-serif; */
  font-family: "Black Asylum", sans-serif;
  font-size: 10vh;
  /* border: 2px solid green; */
  justify-content: center;
  align-items: center;
  transition: .9s;

  overflow-y: hidden;

}


nav{
  /* display: flex; */
  display: none;
  /* border: 2px solid green; */
  height: 85vh;
  /* overflow-x: scroll; */
  margin-left: 100%;
  margin-top: 26vh;
  margin-bottom: 4vh;
}

nav img{
  transition: .9s !important;
  filter: grayscale();
  /* transform: skewX(20deg) !important; */
  /* margin: 0px 3vw; */
  /* border: 1px solid transparent; */
  border-radius: 20px;
  width: 30vw !important;
  height: 70vh !important;
}

nav img:hover{
  filter: none;
  cursor: url("../pictures/cursorHover.png"), auto;
}

/* main{
  display: flex;
  display: none;
  border: 2px solid yellow;
  height: 0vh;
  padding: 20vh 4vw;
  font-family: "Ubuntu Condensed", sans-serif;
} */

main * {
  transition: 0.7s;
}
main {
  display: none;
  opacity: 0;
  width: 0vw;
  overflow: hidden;
}

main h1{
  /* border: 2px solid blue; */
  display: inline-block;
  font-size: 7vh;
  color: black;
  -webkit-text-stroke: 1px white;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

main h1:hover{
  color: white;
  -webkit-text-stroke: 1px red;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
  transform: translateX(20px);
}

.main__container {
	max-width: 1200px;
	margin: 0px auto;
}

.main__text {
	font-family: Acme, sans-serif;
}

.text-main__general {
  font-family: "Ubuntu Condensed", sans-serif;
	font-size: 4vh;
}

.text-main__title p{
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 4vh;
}

.text-main__title p:last-child {
	display: flex;
	align-items: center;
}

.text-main__title p:last-child img {
	order: 1;
}

footer {
  display: none;
  padding: 10px;
  opacity: 0;
  height: 0vh;
  overflow: hidden;
}

.footer__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.footer__container {
	display: flex;
	flex-direction: column;
}

.footer__column {
	font-family: Acme, sans-serif;
}

.footer__logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	margin: 0px 0px 30px 0px;
}

.footer__logo img {
	margin: 0px 0px 10px 0px;
	width: 70px;
	height: 100px;
}

.footer__logo span {
	font-family: "Black Asylum", sans-serif;
}

.footer__contacts {
	display: flex;
	justify-content: space-between;
	font-size: 17px;
	padding: 0px 20px 0px 0px;
}

@media (max-width: 768px) {
	.footer__contacts {
		flex-direction: column;
		align-items: center;
	}
	.contacts-footer__1 {
		margin: 0px 0px 20px 0px;
	}
}

.contacts-footer {

}

.contacts-footer__1 {
	margin: 0px 0px 10px 0px;
	display: flex;
	align-items: center;
}

.contacts-footer__1 img {
	display: block;
	margin: 0px 10px 0px 0px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px solid rgba(231, 25, 25, 0.9);
}

.contacts-footer__2 {
	display: flex;
	align-items: center;
}

.contacts-footer__2 img {
	display: block;
	margin: 0px 10px 0px 0px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px solid rgba(153, 61, 61, 0.9);
}


.quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100vw;
  height: 100vh;

  /* border: 2px solid white; */
  background-color: black;

  animation-name: quoteDisappear;
  animation-delay: 15s;
  animation-fill-mode: forwards;
  animation-duration: 10s;
}

.quote span{
  color: #575656; /* grey */
  text-decoration: underline;
  text-decoration-color: #ff0000; /* red */

}
.quote__text{
  font-family: Acme, sans-serif;
  font-size: 5vh;
  /* border: 2px solid yellow; */
  text-align: center;
  margin-bottom: 2%;
  opacity: 0;

  animation-name: quoteAppear;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

.quote__author{
  color: #ff0000; /* red */
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 4vh;
  text-align: right;
  /* border: 2px solid blue; */
  padding-right: 5%;
  opacity: 0;

  animation-name: quoteAppear;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

.play__button{
  font-family: Acme, sans-serif;
  font-size: 5vh;
  text-align: center;
  transform: translateY(20vh);
  /* border: 2px solid yellow; */

  animation-name: quoteAppear;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}
#playButton{
  border: 0.3vw solid white;
  border-radius: 2vw;
  box-sizing: border-box;
  padding: 0.5vh;
  text-decoration: none;
  color: black;
  -webkit-text-stroke: 1px white;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

}

#playButton:hover{
  color: white;
  border-color: red;
  -webkit-text-stroke: 1px red;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

.hint{
  display: none;
  background-color: grey;
  width: 50vw;
  height: 50vh;
  border: black 1px solid;
  border-radius: 10vh;
}

div.swiper-slide{
  width: 30vw;

}

div.swiper-slide div{
  width: 30vw;
  text-align: center;
  font-family: Bloody, sans-serif;
  font-size: 7vh;
}
div.swiper-slide:hover > div{
  color: rgba(212, 14, 0, 1); /* red */
  -webkit-text-stroke: 1px white;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  transition: 1s;
}
.swiper-pagination-bullet{
  background-color: rgba(255, 255, 255, 0.9) !important;
  border: 3px solid red;
}

.swiper-pagination-bullet-active{
  background-color: red !important;
}

div.life__lesson{
  text-align: center;
  font-size:  5vh;
  font-family: Acme, sans-serif;
  height: 8vh;
  margin-bottom: 60vh;
  padding-left: 10vw;
  padding-right: 10vw;
  box-sizing: border-box;
  opacity: 0;
  width: 0;
  display: none;
}
